docker {
    enabled = true
}

process {

    executor = 'local'

    withName: EL_GATO_FASTQ { container = 'staphb/elgato:1.22.0' }
    withName: EL_GATO_FASTA { container = 'staphb/elgato:1.22.0' }
    withName: EL_GATO_ONT   { container = 'staphb/elgato:1.22.0' }

    withName: SUBSAMPLE_ONT { container = 'staphb/seqtk:latest' }
    withName: RAVEN         { container = 'staphb/raven:latest' }
    withName: MEDAKA        { container = 'staphb/medaka:latest' }

    withName: NANOPLOT      { container = 'staphb/nanoplot:latest' }
    withName: PROKKA        { container = 'staphb/prokka:latest' }
    
    withName: CHECKM        { container = 'staphb/checkm:latest' }

    cpus = 2
    memory = '4 GB'

    errorStrategy = 'retry'
}

process {
    withName: CHECKM2 {
        containerOptions = "-v ./module_db/CheckM2_database:/mnt/checkm2_db"
    }
    withName: AMRFINDER {
        container = 'staphb/ncbi-amrfinderplus:latest'
        containerOptions = "-v ./amrfinder_db:/usr/local/share/amrfinderdb"
    }
}

profiles {

    docker {
        docker.enabled = true
        process.executor = 'local'
    }

    local {
        process.executor = 'local'
    }
}



workDir = './work'