docker {
    enabled = true
}

process {

    executor = 'local'

    withName: EL_GATO_FASTQ {
        container = 'staphb/elgato:1.22.0'
    }

    withName: EL_GATO_FASTA {
        container = 'staphb/elgato:1.22.0'
    }

    withName: EL_GATO_ONT {
        container = 'staphb/elgato:1.22.0'
    }

    withName: FLYE {
        cpus = 2
        memory = '7 GB'
        container = 'staphb/flye:latest'
    }

    withName: MEDAKA {
        container = 'staphb/medaka:latest'
    }

    errorStrategy = 'retry'
}

workDir = './work'